.header {
  z-index: 10;
  position: relative;
  &__wrapper {
    height: 106px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 11px;
  }

  .logo {
    margin-top: 5px;
    display: block;
    width: 123px;
    height: 90px;

    img {
      width: 100%;
    }
  }

  &__menu {
    display: flex;
    justify-content: stretch;
    align-items: stretch;

    ul {
      display: flex;
      list-style-type: none;
      vertical-align: bottom;
      margin-bottom: 0;

      &:nth-last-child {
        border-right: none;
      }

      li {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0 30px;
        position: relative;
        border-right: 1px solid #3E3E3E22;

        &:hover {
          justify-content: space-between;

          &:before {
            display: block;
            content: "";
            background-color: #BF9859;
            width: 100%;
            height: 56px;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          }
        }

        a {
          font-size: 18px;
          color: $main-color;
          white-space: nowrap;

          &:hover {
            text-decoration: none;
          }
        }

        &:nth-last-child(1) {
          border-right: none;
        }
      }

      .active {
        &:after {
          content: "";
          display: block;
          height: 2px;
          width: 66px;
          background-color: #E4B56B;;
        }
      }
    }
  }


  &__search-lang-panel {
    position: relative;
    display: flex;
    align-items: flex-end;

    .hamburger {
      display: none;
      width: 26px;
      height: 20px;
      span {
        background-color: #3E3E3E;
        display: block;
        width: 100%;
        height: 3px;
        margin-bottom: 5px;
        transition: 0.4s ease all;
      }
    }

    input {
      &:focus {
        outline: none;
      }
    }
  }

  &__search {
    position: relative;
    height: 18px;
    width: 18px;
    display: flex;
    align-items: flex-end;
    margin: 0;
    margin-right: 33px;
    background: transparent;
    border: none;
    padding: 0;
  }

  &__search-panel {
    display: none;
    //display: flex;
    position: absolute;
    bottom: -51px;
    right: 57px;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    input[type="text"] {
      width: 314px;
      height: 41px;
      padding: 10px 40px 10px 31px;
      border: none;
      border-radius: 0;
    }
    button {

      position: absolute;
      padding: 0;
      height: 18px;
      width: 18px;
      right: 9px;
      background-color: transparent;
      border: none;

      img {
        width: 100%;
        vertical-align: top;
      }
    }
  }

    &__lang {
    position: relative;
    width: 58px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__chosen-lang {
      height: 21px;
      width: 31px;

        img {
          width: 100%;
          vertical-align: initial;
        }
      }

    &__dropdown-button {
      display: flex;
      align-items: center;
      padding: 0;
      margin-left: 13px;
      height: 31px;
      background-color: transparent;
      border: none;

      img {
        display: block;
      }
    }

    &__lang-list {
      display: none;
      //display: flex;
      position: absolute;
      top: 32px;
      left: -10px;
      height: 82px;
      width: 51px;
      padding: 10px 10px 15px 10px;
      flex-direction: column;
      justify-content: space-between;
      background-color: #3E3E3E50;
      z-index: 1;

      &:focus {
        outline: none;
      }

    }
  }

  &__mobile-menu {
    position: absolute;
    width: 100%;
    top:0;
    left: -100%;
    margin-top: 64px;
    height: calc(100vh - 60px);
    background: linear-gradient(180deg, #49494A 17.19%, #383836 100%);
    text-decoration: none;
    transition: 0.4s ease all;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {

        .active {
          color: #AEAEAE;
        }

        padding: 15px;
        border-bottom: 1px solid rgba(228, 181, 107, 0.5);
        position: relative;

        &:after {
          display: none;
          width: 11px;
          height: 21px;
          content: "";
          background: center center/cover url("../../images/header/arrow-mobile.svg");
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 15px;
          z-index: 3;
        }
        &:hover {
          &:after {
            display: block;
          }
          &:first-child {
            &:after{
              display: none;
            }
          }
        }

        a{
          font-family: Raleway, sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          color: #FFFFFF;
          &:hover {
            text-decoration: none;
            color: #AEAEAE;
          }
        }
      }
    }

    &__lang-list {
      position: absolute;
      top: 15px;
      right: 15px;
      img {
        cursor: pointer;
        opacity: 0.3;
        width: 31px;
        height: 21px;
        margin-left: 20px;
      }

      .active {
        opacity: 1;
      }

    }
  }

  .mobile-menu-active {
    left: 0;
  }

}
