.services {
  padding: 30px 0 40px 0;
  position: relative;
  &__cards {
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__card {
    position: relative;
    width: 387px;
    height: 201px;
    margin-bottom: 10px;
    img {
      width: 100%;
    }
    &__title {
      position: absolute;
      left: 0;
      top: 32px;
      width: 339px;
      height: 56px;
      background: rgba(62, 62, 62, 0.9);
      padding-left: 15px;

      display: flex;
      justify-content: left;
      align-items: center;

      &:after {
        content: "";
        width: 2px;
        height: 46px;
        background: #E4B56B;

        position: absolute;
        right: 15px;
        top: 0;
      }
    }

    &__descr {
      font-family: Raleway, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 60px;
      text-align: center;
      color: #FFFFFF;
    }

    &:nth-last-child(-n+2) {
      width: 585px;
      height: 202px;
    }
  }

  &__calculating {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10px;

    button {
      width: 379px;
      height: 43px;
      background: #454647;

      font-family: Raleway, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      text-align: center;

      color: #FFFFFF;
    }
  }

  .gear-1 {
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;

    z-index: 999;
  }
}
